<network>
  <name>nat</name>
  <forward mode="nat"/>
  <ip address="192.168.101.1" netmask="255.255.255.0">
    <dhcp>
      <range start="192.168.101.2" end="192.168.101.254" />
      <host mac="02:33:33:33:33:33" name="everest" ip="192.168.101.100" />
    </dhcp>
  </ip>
</network>
